<% content_for :page_title,  "Index" %>

<table>
  <tr>
    <th>Name</th>
    <th>Presentation</th>
    <th></th>
  </tr>
 
  <% @properties.each do |property| %>
    <tr>
      <td><%= property.name %></td>
      <td><%= property.presentation %></td>
      <td><%= link_to 'Show', property_path(property) %></td>
    </tr>
  <% end %>
  <%= link_to 'New', new_property_path %>
</table>